.blog {

  &-post {
    display: grid;
    grid-template-columns: 280px 1fr;
    margin-bottom: 30px;
    padding-bottom: 30px;
    min-height: 180px;
    border-bottom: 1px solid $porcelain;

    @include media-breakpoint-down(md) {
      grid-template-columns: auto;
      grid-auto-rows: 200px 1fr;
      margin-bottom: 20px;
    }

    &--main {
      grid-template-columns: 600px 1fr;
      min-height: 400px;
      background: $white;
      border: 1px solid $iron;
      border-radius: 6px;
      padding: 0;
      box-shadow: 0 8px 16px rgba($black, 0.1);

      @include media-breakpoint-down(xl) {
        grid-template-columns: minmax(335px, 1fr) 2fr;
      }

      @include media-breakpoint-down(lg) {
        grid-template-columns: minmax(280px, 1fr) 2fr;
        min-height: auto;
      }

      @include media-breakpoint-down(md) {
        grid-template-columns: auto;
        grid-auto-rows: 223px 1fr;
        margin-bottom: 40px;
      }

      .blog-post {

        &__image {
          border-radius: 6px 0 0 6px;

          @include media-breakpoint-down(md) {
            border-radius: 6px 6px 0 0 ;
          }

        }

        &__article {
          padding: 60px 60px 45px;
          justify-content: space-between;

          @include media-breakpoint-down(lg) {
            padding: 30px 30px 17px;
            margin-top: 0;
          }
        }
      }
    }

    &__image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;

      &.image-dekstop {

        @include media-breakpoint-down(xl){
          display: none;
        }
      }

      &.image-tablet {
        display: none;

        @include media-breakpoint-between (md, xl) {
          display: block;
        }
      }

      &.image-mobile {
        display: none;

       @include media-breakpoint-down(md) {
          display: block;
        }
      }
    }

    &__btn {
      text-align: center;
      margin-top: 40px;

      @include media-breakpoint-down(lg) {
        margin: 60px 0 70px;

        .btn {
          min-width: 100%;
        }
      }
    }

    &__article {
      padding-left: 40px;
      display: flex;
      flex-direction: column;

      @include media-breakpoint-down(md ) {
        padding-left: 0;
        margin-top: 16px;
      }
    }

    &__title {
      font-weight: 300;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 15px;
    }

    &__info {
      font-weight: 400;
      font-size: 14px;
    }

    .info-date {
      color: $regent-gray;
      text-transform: uppercase;
      font-weight: 400;
      margin-left: 8px;
    }

    .info-tags {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: $apple;
      width: 100%;
      margin: 12px 0;

      & > a {
        color: $apple;
      }

      a + a {
        margin-left: 5px;
      }
    }

    .info-comments {
      color: $regent-gray;
      font-weight: 400;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 10px;
      }
    }

    @include media-breakpoint-up(lg) {

      &:nth-child(3n + 2) {
        padding-bottom: 61px;
      }

      &:nth-child(3n + 3) {

        .blog-post__article {
          padding-left: 20px;
        }

        .info-tags {
          font-weight: 500;
          font-size: 14px;
          letter-spacing: 0.8px;
        }
      }
    }

  }

  &-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 32px;
    background: $alabaster;
    border-radius: 4px;
    min-height: 60px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 40px;
    overflow-x: scroll;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    &__tags {
      display: flex;
      align-items: center;
    }

    .tags-nav {
      display: flex;
      margin-left: 35px;

      @include media-breakpoint-down(xl) {
        margin-left: 25px;
      }

      & > a {
        font-weight: 500;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: $apple;
      }

    }

    a + a {
      margin-left: 35px;

      @include media-breakpoint-down(xl) {
        margin-left: 25px;
      }
    }

    &__links {
      margin-left: 25px;

      & > a {
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $tuna;
      }
    }
  }
}