//----- Icons

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

//----- Buttons

.btn {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  height: 70px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  transition: 200ms ease-in-out;
  border-radius: 0;

  &--form {
    border: 2px solid $white;
    color: $white;
    width: 100%;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

//------- Inputs

input[type="text"],
input[type="phone"],
input[type="search"],
select {
  padding: 20px;
  height: 70px;
  font-weight: 300;
  font-size: 20px;
  color: rgba(4, 4, 14, 50%);
  margin-bottom: 30px;
  display: block;
  width: 100%;

  &::placeholder {
    font-weight: 300;
    font-size: 20px;
    color: rgba(4, 4, 14, 50%);
  }

  &:focus {
    outline: none;
  }
}

select {
  padding-right: 70px;
  appearance: none; /*Chrome, Safari и Opera*/
  -webkit-appearance: none; /*Chrome, Safari и Opera*/
  -moz-appearance: none; /*Firefox*/
  text-indent: 0.01px; /*Firefox*/
  text-overflow: ''; /*Firefox*/
  background: #fff url('../images/select.svg') no-repeat 95% 32px;
  background: #fff url('../images/select.svg') no-repeat calc(100% - 20px) 32px;
  background: #fff url('../images/select.svg') no-repeat -moz-calc(100% - 20px) 32px;
  background: #fff url('../images/select.svg') no-repeat -webkit-calc(100% - 20px) 32px;
  background-size: 46px;
}