//----- Icons

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &.icon--next {
    background-image: url("../images/arrow-next.svg");
    width: 69px;
    height: 51px;
  }

  &.icon--prev {
    background-image: url("../images/arrow-prev.svg");
    width: 69px;
    height: 51px;
  }

}

//----- Buttons

.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  height: 40px;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  transition: 200ms ease-in-out;


  &:focus {
    outline: none;
    box-shadow: none;
  }
}

//------- Inputs

input[type="text"],
input[type="search"] {
  border: 1px solid $black;
  border-radius: 4px;
  padding: 21px 20px;
  font-weight: 300;
  font-size: 18px;
  height: 59px;

  &::placeholder {
    font-weight: 300;
    font-size: 18px;
    color: $black;
  }

  &:focus {
    outline: none;
  }
}