* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  font-size: 1rem;
  font-family: $f-primary;
  color: $ebony;
  background-color: $white;
}


a {
  transition: 300ms ease-out;
  text-decoration: none;
  color: $ebony;

  &:hover {
    color: inherit;
  }
}


.wrapper {
  min-height: -webkit-calc(100vh - 650px);
  min-height: -moz-calc(100vh - 650px);
  min-height: calc(100vh - 650px);
  padding-left: 124px;
}

img {
  max-width: 100%;
}

h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
}

.left-menu {
  background: $black;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 124px;
}

.container {
  max-width: 1700px;
}