// fonts

$f-primary: 'Roboto', sans-serif;
$f-secondary: 'Inter', sans-serif;

// colors

$black: #000000;
$white: #ffffff;
$iron: #D7D8D9;
$alabaster: #F7F7F7;
$porcelain: #EBECED;
$charade: #22252E;
$regent-gray: #889099;
$pizazz: #FF8D00;
$apple: #4CB649;
$pastel-green: #5DDF5A;
$tuna: #323642;
$carnation: #F24458;